@import '../vars.scss';

.#{$prefix}-logo {
    font-size: 0;
    .#{$prefix}-icon{
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
        vertical-align: middle;
    }
}
