$prefix: 'tshell';

// colors
$primary-color: #0190fe;
$second-color: dark($primary-color, 20);
$accent-color: #1d90e6;
$text-color: #ffffff;

// app titile height
$app-title-height: 32px;
$app-status-height: 24px;
