@import '../../vars.scss';

.#{$prefix} {
    &-button {
        padding: 5px 10px;
        vertical-align: middle;
        width: 48px;
        .#{$prefix}-text {
            font-size: 16px;
            margin-left: 5px;
        }
    }
}
